/*
!plugins/
!themes/
!.gitignore
!readme.md

# Loại trừ folder languages
languages/

# Chỉ theo dõi 4 plugin cụ thể
plugins/*
!plugins/advanced-custom-fields/
!plugins/Plugin Contact Form/
!plugins/Plugin Multi Chat/
!plugins/polylang/

# Chỉ theo dõi theme sailor-themes
themes/*
!themes/sailor-themes/

# Chỉ loại trừ file index.php ở ngoài cùng
/index.php